<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'myapp/css/tomorrow-night-bright.min.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
  {% block metatags %}{% endblock metatags %}
  <title>{% block title %} Fake JSON for testing {% endblock title %}</title>
</head>
<body>
  <header class="header"> 
    <h3>
      <a href="{% url 'home' %}" style="text-decoration: none;color:white;"> Fake JSON </a>
        &nbsp; 
      <a href="{% url 'docs' %}" style="color:white">See Docs</a> 

      <span style="float:right">
      {% if request.user.is_authenticated %}
        <a href="{% url 'profile' %}" style="text-decoration: none;color:white;"> Profile </a>
        <a href="{% url 'logout' %}" style="text-decoration: none;color:white">Logout</a> 
    
      {% else %}
        <a href="{% url 'login' %}" style="text-decoration: none;color:white;"> Login </a><a href="{% url 'register' %}" style="text-decoration: none;color:white">SignUp</a> 
        {% endif %}
      </span>
    </h3>
      
  </header>
  {% if messages %}
    {% for message in messages %}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <br>
          <div class="alert  alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}} {% endif %} alert-dismissible fade show" role="alert" id="message-alert">
            <strong>{{message|striptags}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% block content %} {% endblock content %}
  <footer class="footer">
    <p>&copy; 2023 Fake JSON Website. All rights reserved.</p>
  </footer>
  <script src="{% static 'myapp/js/highlight.min.js' %}"></script>
  <script> hljs.highlightAll();</script>
  <script src="{% static 'myapp/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>