<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'myapp/css/tomorrow-night-bright.min.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
  {% block metatags %}{% endblock metatags %}
  <title>{% block title %} Fake JSON for testing {% endblock title %}</title>
</head>
<body>
  <header class="header"> 
      <h3 ><a href="{% url 'home' %}" style="text-decoration: none;color:white;"> Fake JSON </a> &nbsp; <a href="{% url 'docs' %}" style="color:white">See Docs</a></h3>
  </header>
    {% block content %} {% endblock content %}
  <footer class="footer">
    <p>&copy; 2023 Fake JSON Website. All rights reserved.</p>
  </footer>
  <script src="{% static 'myapp/js/highlight.min.js' %}"></script>
  <script> hljs.highlightAll();</script>
  <script src="{% static 'myapp/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>