{% extends 'myapp/base.html' %}
{% block title  %} Change Password {% endblock title %}
{% block content %}
<br>
<div class="row">
  <h3 class="text-center">Edit Profile</h3>
  {% include 'myapp/profile-header.html' %}
  <div class="col-md-6 col-sm-6">
    <div class="card">
      <h4 class="text-center">Change Password</h4>
      <div class="card-body">
        <form action="" method="post" novalidate>
          {% csrf_token %}
          {% if form.non_field_errors %} {{form.non_field_errors}}  {% endif %}
          {% if form %}
            {% for field in form %} 
              {{field.label_tag}} {{field}}
              {% if field.errors %}
                {% for error in field.errors %}
                  <small style="color:red">{{error}}</small>
                {% endfor %}
              {% endif %}
              <br>
            {% endfor %}
          {% endif %}
          <input type="submit" value="Change" class="btn btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>  

<script>
  let inputs = document.querySelectorAll("input[class='form-control']");
  let submit = document.querySelector("input[type='submit']");
  submit.setAttribute("disabled", "disabled");
  let map = new Map();
  for(let i=0; i<inputs.length; i++){
    inputs[i].addEventListener("input", (e)=>{
      let reg = new RegExp('\\S');
      let bool = reg.test(inputs[i].value);
      if(map.has(inputs[i]) && bool){
        map.set(inputs[i], true);
      }else{
        map.set(inputs[i], false);
      }
      checkboxes();
    })
  }
  function all(arr){
    let arr2 = [];
    for(let i of arr){
      console.log(i);
      if(i[1]==true)
        arr2.push(true);
    }
    if(arr2.length == arr.length)
      return true;
  }

  function checkboxes(){
    console.log(map.size);
    console.log([...map.entries()]);
    if(map.size == 3 && all([...map.entries()])){
      submit.removeAttribute("disabled");
    }
  }

</script>
{% endblock content %}