{% extends 'myapp/base.html' %}
{% block metatags %}
<meta name="description" content="Documentation of Fake Json! with JWT Authentication. Learn how to use our free JSON with our comprehensive documentation. Find tutorials, examples, and API references to help you get the most out of our service. Explore our developer-friendly documentation and start generating realistic JSON data for your projects today.">
<meta name="keywords" content="Fake Json Docs, random json documentation, fake json website for testing documentation, fake json blogging documentation,  documentation fake json, dummy json documentation, dymmy fake json website, random json generator">
<meta name="author" content="Pankaj Kushwaha">
<!-- Open Graph Protocol start -->
<meta property="og:title" content="Free Json Rest API JWT authentication for tesing | Documentation">
<meta property="og:site_name" content="Free Json Rest API for testing">
<meta property="og:url" content="https://pankajk.pythonanywhere.com/jwt-docs/">
<meta property="og:description" content="Documentation for Free Json website. It is free an easy to use, fast and reliable which any frontend developer can use it.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://pankajk.pythonanywhere.com/static/myapp/image/website-image.jpg">
<!-- Open Graph Protocol end -->
<link rel="canonical" href="https://pankajk.pythonanywhere.com/jwt-docs/">
{% endblock metatags %}
{% block title  %} Free Json Rest API - JWT Documentation {% endblock title %}
{% block content %}
<style>
  .documentation {
    padding: 40px;
  }
  
  .documentation h2 {
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .documentation p {
    font-size: 18px;
    color: #6c757d;
  }
  
  .documentation .feature {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .documentation .feature .feature-item {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  
  .documentation .feature .feature-item img {
    max-width: 100%;
    height: auto;
  }
  
  .documentation .feature .feature-item h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #007bff;
  }
  
  .documentation .feature .feature-item p {
    font-size: 18px;
    color: #6c757d;
  }
  
  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  label{
    background-color: black;
    color: white;
    width: 100px;
    height: 34px;
    border: none;
    border-radius: 10px;
    padding: 20px;
  }
  
  .copy-btn{
    position: absolute;
    top: 5px;
    right: 5px; 
    font-size: 0.9rem;
    padding: 0.15rem;
    background-color: #b3b2b2;
    border: ridge 1px #7b7b7c;
    border-radius: 5px;
    text-shadow: #c4c4c4 0 0 2px;
  }
  
  .copy-btn:hover{
    cursor: pointer;
    background-color: #ebe4e7;
  }
</style>

<br>
{% if request.user.is_authenticated %}
<div class="row">
  <h3 class="text-center">JSON Web Token Documentation</h3>
  {% include 'myapp/profile-header.html' %}
  <div class="col-md-5" spellcheck="true"> 
    <p>JSON Web Token (JWT) is an open standard that defines a compact and self-contained way for securely transmitting informations between parties as a JSON objects. </p>
    <p>JWTs are commonly used for authentication and authorization purposes in web application. They are digitally signed and encrypted using a secret key or a public/private key pair to ensure the integrity of the token and prevent tampering.</p>
  </div>
</div>  
{% else %}
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 offset-md-2">
        <h3 class="text-center">JSON Web Token Documentation</h3>
        <p>JSON Web Token (JWT) is an open standard that defines a compact and self-contained way for securely transmitting informations between parties as a JSON objects. </p>
        <p>JWTs are commonly used for authentication and authorization purposes in web application. They are digitally signed and encrypted using a secret key or a public/private key pair to ensure the integrity of the token and prevent tampering.</p>
      </div>
    </div>
  </div>
{% endif %}

  <div class="feature">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 offset-md-2">
          <br>
          <div>JSON Web Tokens consists of three parts separated by dots (<strong>.</strong>), which are <strong>header</strong>, <strong>payload</strong>, and <strong>signature</strong>. <br> <br>
            <strong>Header : </strong> Identifies which algorithm is used to generate the signature. <br> <br>
            <strong>Payload : </strong> Contains a set of claims. Claims are statements about an entity. <br> <br>
            <strong>Signature : </strong> Securely validates the token. <br> <br>
            <strong>Access Token : </strong> eyJhbGciOiJIUzI1NiIsIn<strong style="font-size: 30px;">.</strong>eyJ0b2tlbl90eXBlIj0<strong style="font-size: 30px;">.</strong>Vh2ZQJ8RZJ0IhNOB48" <br>
            <strong>header.payload.signature  </strong> <br>
          </div>
          <br>
          <br>
          <h3>Fake Json Rest API for testing with JWT Authentication </h3>
          <p>This website is a free Fake REST API that you can use whenever you need some fake data.</p>
          <br>
          <h3>Authenticate yourself to get Access Token and Refresh Token</h3>
          <h4>Curl</h4>
          <pre><code> // Using Curl commands
curl -i -X POST "{{url}}api/auth/token" -d "{\"username\": \"user1\", \"password\":\"12345\"}" -H "Content-Type: application/json" -H "accept: application/json; indent=4"            
</code></pre>
          <h4>JavaScript Fetch API </h4>
          <pre><code>
fetch( `{{url}}api/auth/auth/token`, {
  method : "post",
  headers: {
    'Content-type': 'application/json; charset=UTF-8',
    'Accept' : 'application/json; indent=4',
  },
  body : JSON.stringify({
    username : 'user1',
    password : '12345'
  })
})
.then( (response) => {
if (!response.ok) {
  const message = `An error has occured: ${response.status}`;
  console.log(message);
//throw new Error(message);
}
  return response.json();
})
.then(data => console.log(data));

</code></pre>
          <h4>Python</h4>
          <pre><code class="languag-python">
import requests
import json

url = "{{url}}api/auth/token"
headers = {
  "Content-Type" : "application/json; charset:utf-8",
  "Accept" : "application/json; indent=4"
}
data = json.dumps(dict(username="user1", password="12345"))
response = requests.post(url, headers=headers, data=data)
print(response.text)

</code></pre>
          <h4>You will get Access Token and Refresh Token </h4>
          <li>Access Token will be valid for an hour, after one hour it will expire.</li>
          <li>You can generate an access token with the help of Refresh Token if access token expries. </li>
          <li>A Refresh Token will be valid for 7 days. After 1 week it will expire.</li>
          <li>When Refresh Token expires, the user will need to perform a full authentication with username and password again.</li>

          <pre><code>
{
  "refresh": "eyJhbGcCJ9.eyJ0baWQ0YTQiOjJ9.g_mW7M2a_",

  "access": "eyJhVCJ9.eyJxNzgzNDECI6Mn0.7aHa9h_RMOy149Y"
}

</code></pre>
<hr> <br>
          <h4>Validity of Tokens</h4>
          <div>
            <strong>Access Token : 1 hour</strong>  <br>
            <strong>Refresh Token : 7 days </strong> 
          </div>
          <br>
          <h3>Generate Access Token with Refresh Token</h3>
          <pre><code>
fetch('{{url}}api/auth/refresh', {
  method : 'post',
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4'},
    body : JSON.stringify({
  refresh : '[your_refresh_token]'
  })
  
})
.then(res => res.json())
.then(data => console.log(data));

</code></pre>
            Output
            <pre><code>
{
  "refresh": "eyJhbGciOz9.eyJ0b2tlbllIjoa.n01O5LK8Z7SC",

  "access": "eyJhbGciOiJ.eyJ0b2tlbl90eXBl.Z5IMEYhZe8SsI"
}
</code></pre>
<hr>
<br><br>
          <h3>Resources</h3>
          <h4>Authenticate</h4>
          <div class="row">
            <div class="col-md-3 col-5">
              <a href="{% url 'obtain_token_pair' %}" target="_blank">/api/auth/token</a> <br> <br>
              <a href="{% url 'refresh_token' %}" target="_blank">/api/auth/refresh</a> <br> <br>
            </div>
            <div class="col-md-7 col-7">
              Obtain Token Pair <br> <br>
              Obtain Access Token with Refresh Token <br><br>
            </div>
          </div>
          <p>Following resources are available which you can access via our REST API.</p>
          <div class="row" style="align-items: start">
            <div class="col-md-3 col-5">
              <a href="{% url 'auth_posts' %}" target="_blank">/api/auth/posts</a> <br> <br>
              <a href="{% url 'auth_comments' %}" target="_blank">/api/auth/comments</a> <br> <br>
              <a href="{% url 'users' %}" target="_blank">/api/auth/users</a> <br> <br>
            </div>
            <div class="col-md-3 col-7">
              100 Posts <br> <br>
              500 Comments <br><br>
              10 Users <br><br>
            </div>
          </div>
          <br><hr><br>
          <h3>Routes</h3>
          <p>Following resources are available which you can access via our REST API.</p>
          <div class="container">
            <div class="row">
              <div class="col-2 col-md-1" >
                GET <br> <br>
                GET <br> <br>
                GET <br> <br>
                POST <br> <br>
                PUT <br> <br>
                PATCH <br> <br>
                DELETE <br> <br>
              </div>
              <div class="col-6 col-md-3" >
                <a href="{% url 'auth_posts' %}" target="_blank">/api/auth/posts</a> <br> <br>
                <a href="{% url 'auth_comments' %}" target="_blank">/api/auth/comments</a> <br> <br>
                <a href="{% url 'auth_post-id' 1 %}" target="_blank">/api/auth/posts/1</a> <br> <br>
                <a href="{% url 'auth_posts' %}" target="_blank">/api/auth/posts</a> <br> <br>
                <a href="{% url 'auth_post-id' 1 %}" target="_blank">/api/auth/posts/1</a> <br> <br>
                <a href="{% url 'auth_post-id' 1 %}" target="_blank">/api/auth/posts/1</a> <br> <br>
                <a href="{% url 'auth_post-id' 1 %}" target="_blank">/api/auth/posts/1</a> <br> <br>
              </div>
              <div class="col-4 col-md-4">
                Get all posts <br> <br>
                Get all comments <br><br>
                Get a single post <br> <br>
                Add a post <br> <br>
                Update all field at once<br> <br>
                Update some fields<br> <br>
                Delete a post <br> <br>
              </div>
            </div>
          </div>

          <br><hr><br><br>
          {{url}}
          <h3>All Links</h3>
          <div class="row">
            <div class="col-md-4">
              <a href="#postsrelated" style="text-decoration: none;color: black;"><h4>Post related</h4></a>
              <a href="#getallpost">Get all post</a> <br> <br>
              <a href="#getsinglepost">Get a single post</a> <br> <br>
                <a href="#getlimitedpost">Get limited posts</a> <br> <br>
              <a href="#addpost">Add a post</a> <br> <br>
              <a href="#updatepostput">Update a post all fields</a> <br> <br>
              <a href="#updatepostpatch">Update specific fields</a> <br> <br>
              <a href="#deletepost">Delete a post</a> <br> <br>
            </div>
            <div class="col-md-4">
              <a href="#commentsrelated" style="text-decoration: none;color: black;"><h4>Comments related</h4></a>
              <a href="#getallcomments">Get all comments</a> <br> <br>
              <a href="#getsinglecomment">Get single comment</a> <br> <br>
              <a href="#addcomment">Add comment</a> <br> <br>
              <a href="#updatecommentput">Update comment all field</a> <br> <br>
              <a href="#updatecommentpatch">Update specific fields</a> <br> <br>
              <a href="#deletecomment">Delete a comment</a> <br> <br>
            </div>
          </div>
          <br> <hr><br>
          <br><br>
          <h3>Fetch data</h3>
          <pre style="border-radius: 10px;" id="javascript" ><code>
fetch('{{url}}api/auth/posts/1', {
  method : 'get',
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [access token]'
  }
})
.then(res => res.json())
.then(data => console.log(data));

</code></pre>
  Output
  <br><br>
      <pre style="border-radius: 10px;"><code>{
  "postId": 1,
  "title": "they are either to do repels provide blacked out option to blame",
  "description": "because it also receives....",
  "user": { "userId": 1, "username": "admin" },
  "comments": [
      {
        "commentId": 1,
        "postId": 1,
        "comment": "for those who praise them,...",
        "name": "that labor from and how labors",
        "email": "Eliseo@gardner.biz"
      },
      {
        "commentId": 2,
        "postId": 1,
        "comment": "for he is born, there is nothing...",
        "name": "indeed, by which he wants to reject and the like of them",
        "email": "Jayne_Kuhic@sydney.com"
      },
      {...},
      .
      .
      {...} // 5 comments of post1
}</code></pre>
      <br>

          
          <h3 id="postsrelated">Post related</h3>
          <h4 id="getallpost">Get all post</h4>
          Get all post along with 5 comments each and user details.
          <pre style="border-radius: 10px;"><code>
fetch('{{url}}api/auth/posts', {  
  method : 'get',
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  }
})
.then(res => res.json())
.then(data => console.log(data));

</code></pre>Output
        <pre style="border-radius: 10px;"><code>[
  {
    "postId": 1,
    "title": "they are either to do repels provide blacked out option to blame",
    "description": "because it also receives....",
    "user": { "userId": 1, "username": "admin" },
    "comments": [
        {
          "commentId": 1,
          "postId": 1,
          "comment": "for those who praise them,...",
          "name": "that labor from and how labors",
          "email": "Eliseo@gardner.biz"
        },
        {
          "commentId": 2,
          "postId": 1,
          "comment": "for he is born, there is nothing...",
          "name": "indeed, by which he wants to reject and the like of them",
          "email": "Jayne_Kuhic@sydney.com"
        },
        {...},
        .
        .
        {...} // 5th comments
      ]
  },
  {...},
  {...},
    .
    .
  {...} // 100 posts
]</code></pre> <hr> <br>


         <h4 id="getsinglepost">Get single post</h4>
         Get a single post along with comments and user detail.
         <pre style="border-radius: 10px;"><code>
fetch('{{url}}api/auth/posts/2', {  
  method : 'get',
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  }
})
.then(res => res.json())
.then(data => console.log(data));

</code></pre>
          Output
          <pre style="border-radius: 10px;"><code>{
  "postId": 2,
  "title": "who is to be",
  "description": "it is the time of life...",
  "user": { "userId": 1, "username": "admin" },
  "comments": [
      {
          "commentId": 6,
          "postId": 2,
          "comment": "but those who are present will...",
          "name": "and he flees from choosing those who are indeed gentle, but who are nothing",
          "email": "Presley.Mueller@myrl.com"
      },
      {
          "commentId": 7,
          "postId": 2,
          "comment": "but greater pains and similar labor...",
          "name": "it repulses the consequences of present or less unpleasant pleasures",
          "email": "Dallas@ole.me"
      },
      {...},
      .
      .
      {...} // 5th Comments
  ]
}</code></pre> <hr> <br>

            <h4 id="getlimitedpost">Get limited posts</h4>
            Get limited post by mentioning query string limit and offset in the url. <br>
            Example: {{url}}api/auth/posts<strong>?limit=10&offset=20</strong>. <br>
            You will get 10 records starting from 21 to 30
            <pre style="border-radius: 10px;"><code>
fetch('{{url}}api/authposts?limit=10&offset=20', {
  method : 'get',
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  }
})
.then(res => res.json())
.then(data => console.log(data));

</code></pre>
          Output
          <pre style="border-radius: 10px;"><code>[
 {
    "postId": 21,
    "title": "because they are of the smallest kind...",
    "description": "something that repels the pain of the present...",
    "user": {
      "userId": 3,
      "username": "user2"
    },
    "comments": [
      {
        "commentId": 101,
        "postId": 21,
        "comment": "as or most offices, but some and great...",
        "name": "you will see the great thing that...",
        "email": "Lura@rod.tv"
      },
      {..},
      .
      .
      {...} // 5 comments
    ]
  },
  {...},
  .
  .
  .
  {...} // 10 posts starting from 21 to 30
]</code></pre> <hr> <br>

            <h4 id="addpost">Post request or Add post</h4>
            Add post. Required fields are <strong>title</strong>, <strong>description</strong> and <strong>userId</strong>.
            <pre style="border-radius: 10px;"><code>
let init = {
  method : "post",
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  },
  body : JSON.stringify({
    title : "What is CSS",
    description : "CSS stands for Cascading StyleSheet. CSS is used to give the style to the web pages.",
    userId: 1
  })
}

fetch( `{{url}}api/auth/posts`, init)
.then( (response) => {
  if (!response.ok) {
    const message = `An error has occured: ${response.status}`;
    console.log(message);
//  throw new Error(message);
  }
    return response.json();
})
.then(data => console.log(data));

</code></pre>
              Output
              <pre style="border-radius: 10px;"><code>{
  "postId":101,
  "title":"What is CSS",
  "description":"CSS stands for Cascading StyleSheet. CSS is used to give the style to the web pages.",
  "userId":1,
  "message":"Data Created.!!"
}</code></pre> <hr> <br>

            <h4 id="updatepostput">Update a post all field</h4>
            Update all fields. Pass <strong>PostId </strong>in the<strong> URL</strong>. Required fields are <strong>title</strong>, <strong>description</strong> and <strong>userId</strong>

            <pre style="border-radius: 10px;"><code>
fetch('{{url}}api/auth/posts/1', {
  method : "put",
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  },
  body : JSON.stringify({
    title : "What is CSS",
    description : "CSS is the language we use to style an HTML document. CSS describes how HTML elements should be displayed.",
    userId: 1
  })
})
.then( (response) => {
  if (!response.ok) {
    const message = `An error has occured: ${response.status}`;
    console.log(message);
//  throw new Error(message);
  }
    return response.json();
})
.then(data => console.log(data));

</code></pre>
            Output
            <pre style="border-radius: 10px;"><code>{
  "postId":1,
  "title":"What is CSS",
  "description":"CSS is the language we use to style...",
  "userId":1,
  "message":"Data Updated Successfully.!!"
}</code></pre> <hr> <br>

            <h4 id="updatepostpatch">Update a specific field </h4>
            Update any field. Pass <strong>PostId </strong>in the<strong> URL</strong>. Required fields are <strong>title</strong>, <strong>description</strong> and <strong>userId</strong>

            <pre style="border-radius: 10px;"><code>
fetch('{{url}}api/auth/posts/1', {
  method : "patch",
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  },
  body : JSON.stringify({
    description : "CSS is the language we use to style an HTML document. CSS describes how HTML elements should be displayed.",
    userId: 1
  })
})
.then( (response) => {
  if (!response.ok) {
    const message = `An error has occured: ${response.status}`;
    console.log(message);
//  throw new Error(message);
  }
    return response.json();
})
.then(data => console.log(data));

</code></pre>
              Output
              <pre style="border-radius: 10px;"><code>{
  "postId": 1,
  "description": "CSS is the language we use to style an....",
  "userId": 1,
  "message": "Data Updated Successfully.!!"
}</code></pre>  <hr> <br>

            <h4 id="deletepost">Delete a post</h4>
            To delete a post. Pass PostId in the url and send delete request
            <pre style="border-radius: 10px;"><code>
fetch('{{url}}api/auth/posts/1', {
  method : "delete"
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  }
})
.then( (response) => {
  if (!response.ok) {
    const message = `An error has occured: ${response.status}`;
    console.log(message);
 // throw new Error(message);
  }
    return response.json();
})
.then(data => console.log(data));

</code></pre>
              Output
              <pre style="border-radius: 10px;"><code>{
  "message": "Data Deleted.!!",
  "postId": 1
}</code></pre> <hr> <br>

<h3 id="commentsrelated">Comments related </h3>
<h4 id="getallcomments">Get all comments</h4>
Get all comments along with name and email
<pre style="border-radius: 10px;"><code>
fetch('{{url}}api/auth/comments/1')
.then(res => res.json())
.then(data => console.log(data));

</code></pre>Output
<pre style="border-radius: 10px;"><code>[
  {
    "commentId":1,
    "postId":1,
    "comment":"for those who praise them...",
    "name": "Raman singh",
    "email":"Eliseo@gardner.biz"
  },
  {
    "commentId":2,
    "postId":1,
    "comment":"for he is born, there is...",
    "name":"indeed, by which he wants to reject and the like of them",
    "email":"Jayne_Kuhic@sydney.com"
  },
  {...},
  {...},
  .
  .
  {...} // 500th comment
]</code></pre> <hr> <br>

<h4 id="getsinglecomment">Get single comment</h4>
Get a single comment. Pass commentId in the url.
<pre style="border-radius: 10px;"><code>
fetch('{{url}}api/auth/comments/1', {
  method : 'get',
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  }
})
.then(res => res.json())
.then(data => console.log(data));

</code></pre>
Output
<pre style="border-radius: 10px;"><code>{
  "commentId":1,
  "postId":1,
  "comment":"for those who praise them,...",
  "email":"Eliseo@gardner.biz"
}</code></pre>  <hr> <br>

  <h4 id="addcomment">POST request to add comment or Add Comment</h4>
  Add comment. Required fields are <strong>comment</strong>, <strong>name</strong>, <strong>email</strong> and <strong>postId</strong>.
  <pre style="border-radius: 10px;"><code>
fetch( `{{url}}api/auth/comments`, {
  method : "post",
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  },
  body : JSON.stringify({
    name : "Pankaj Kumar",
    comment : "Very nice post",
    postId: 1,
    email : 'Pankaj@gmail.com'
  })
})
.then( (response) => {
  if (!response.ok) {
    const message = `An error has occured: ${response.status}`;
    console.log(message);
 // throw new Error(message);
  }
    return response.json();
})
.then(data => console.log(data));

</code></pre>
    Output
    <pre style="border-radius: 10px;"><code>{
  "commentId":501,
  "name":"Pankaj Kumar",
  "comment":"Very nice post",
  "postId":1,
  "email":"Pankaj@gmail.com",
  "message":"Data Created..!!"
}</code></pre>  <hr> <br>

  <h4 id="updatecommentput">Update a comment all field</h4>
  Update all fields of comment. Pass commentId in the URL. Required fields are <strong>comment</strong>, <strong>name</strong>, <strong>email</strong> and <strong>postId</strong>.

  <pre style="border-radius: 10px;"><code>
fetch( `{{url}}api/auth/comments/4`, {
  method : "put",
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  },
  body : JSON.stringify({
    name : "Pankaj Kumar",
    comment : "Very nice post",
    postId: 1,
    email : 'Pankaj@gmail.com'
  })
})
.then( (response) => {
  if (!response.ok) {
    const message = `An error has occured: ${response.status}`;
    console.log(message);
 // throw new Error(message);
  }
    return response.json();
})
.then(data => console.log(data));

  </code></pre>
  Output
  <pre style="border-radius: 10px;"><code>{
  "commentId":4,
  "name":"Pankaj Kumar",
  "comment":"Very nice post",
  "postId":1,
  "email":"Pankaj@gmail.com",
  "message":"Data Updated Successfully.!!"
}</code></pre> <hr> <br>
  <h4 id="updatecommentpatch">Update a specific field</h4>
  Update specific fields of comment. Pass commentId in the url.
  <pre style="border-radius: 10px;"><code>
fetch( `{{url}}api/auth/comments/4`, {
  method : "patch",
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  },
  body : JSON.stringify({
    comment : "Very nice post",
    postId: 1,
  })
})
.then( (response) => {
  if (!response.ok) {
    const message = `An error has occured: ${response.status}`;
    console.log(message);
 // throw new Error(message);
  }
    return response.json();
})
.then(data => console.log(data));

</code></pre>
    Output
    <pre style="border-radius: 10px;"><code>{
  "commentId":4,
  "comment":"Very nice post",
  "postId":1,
  "message":"Data Updated Successfully..!!"
}</code></pre> <hr> <br>
  <h4 id="deletecomment">Delete a comment</h4>
  To delete a comment. Pass commentId in the URL and delete request.
  <pre style="border-radius: 10px;"><code>
fetch( `{{url}}api/auth/comments/4`, {
  method : "delete",
  headers : {
    'Content-type' : 'application/json',
    'Accept' : 'application/json; indent=4', 
    'Authorization' : 'Bearer [your_access_token]'
  }
})
.then( (response) => {
  if (!response.ok) {
    const message = `An error has occured: ${response.status}`;
    console.log(message);
   // throw new Error(message);
  }
    return response.json();
})
.then(data => console.log(data));

</code></pre>
    Output
    <pre style="border-radius: 10px;"><code>{
  "message":"Data Deleted.!!",
  "commentId":4
}</code></pre>  <hr> <br><br>



         </div>
      </div>
    </div>
  </div>


  <script>
    let blocks = document.querySelectorAll("pre");
    blocks.forEach((block) => {
      if (navigator.clipboard) {
        let button = document.createElement("button");
        button.setAttribute("class", "copy-btn");
        button.innerText = "Copy";
        block.appendChild(button);
        block.setAttribute("tabindex", 0);
        button.addEventListener("click", async () => {
          await copyCode(block, button);
        });
      }
    });

    async function copyCode(block, button) {
      let code = block.querySelector("code");
      let text = code.innerText;
      await navigator.clipboard.writeText(text);
      button.innerText = "Copied";

      setTimeout(() => {
        button.innerText = copyButtonLabel;
      }, 1000);
    }

  </script>
{% endblock content %}