{% extends 'myapp/base.html' %}
{% block title  %} Password Reset  {% endblock title %}

{% block content %}
<br>
<br>
<div class="row">
  <div class="col-md-6 col-sm-12 offset-md-3">
    <h4 class="text-center">Password Reset </h4>
    <br>
    <div class="alert alert-success">
      <strong>Password Reset link has been sent on your Email. 
        Check your Email inbox. Note: Also check spam folder</strong>
    </div>
    <br>
    <div class="text-center"><a href="{% url 'home' %}" class="btn btn-primary"> Back to Home page</a></div>
    
  </div>
</div>   
<br>
<br>  
{% endblock content %}