{% extends 'myapp/base.html' %}
{% block title  %} Password Reset {% endblock title %}

{% block content %}
<br>
<div class="row">
  <h3 class="text-center">Password Reset</h3>
  <br>
  <br>
  <div class="col-md-4 col-sm-8 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %} {{form.non_field_errors}}  {% endif %}
          {% if form %}
            {% for field in form %} 
              {{field.label_tag}} {{field}} 

              {% if field.errors %}
                {% for error in field.errors %}
                  <small style="color:red">{{error}}</small>
                {% endfor %}
              {% endif %}
              
            {% endfor %}
          {% endif %}
          <br>
          <input type="submit" value="Reset" class="btn btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div> 
<br>
<br>

<br>
{% endblock content %}